<div class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <h4>About Us</h4>
        <p>Your ride-sharing and bike-riding partner.</p>
      </div>
      <div class="footer-section">
        <h4>Contact</h4>
        <p>Email: contactexample.com</p>
        <p>Phone: +123 456 7890</p>
      </div>
      <div class="footer-section">
        <h4>Follow Us</h4>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; 2024 GreenWay. All Rights Reserved.
    </div>
  </div>
  