.navbar {
    background-color: #344e41; // Darker green
    color: #dad7cd; // Light beige
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
    .navbar-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      .app-name {
        font-size: 1.5em;
        font-weight: bold;
      }
  
      .nav-links {
        a {
          color: #dad7cd;
          text-decoration: none;
          margin: 0 10px;
          text-emphasis-color: #192523;
          border: 2px solid #bac0cc;
          padding: 5px 10px;
          border-radius: 25px;
          background-color: #192523;
          font-weight: bolder;
  
          &:hover {
            background-color: #bac0cc; 
            color: #192523;
          }
        }
      }
    }
  }
  