  <div class="sidebar">
    <div class="sidebar-header">
      <h2>GreenWay</h2>
      <hr>
    </div>
    <nav>
      <ul>
        <li><a routerLink="/passenger/profile"><mat-icon>account_circle</mat-icon>Profile</a></li>
        <li><a routerLink="/passenger/rides-history"><mat-icon>history</mat-icon>Rides History</a></li>
        <li><a routerLink="/passenger/bikerides"><mat-icon>directions_bike</mat-icon>Bike Rides</a></li>
      </ul>
    </nav>
    <div class="sidebar-footer">
        <img src="person.png" class="person-image" alt="Person">
        <span>Emily Cooper</span>
    </div>
  </div>
  
  