.hero {
  text-align: center;

  img {
    width: 100%;
    height: 400px; // Set fixed height
    object-fit: cover; // Maintain aspect ratio and cover the area
    border-radius: 0px; // Optional styling
  }
}
