<div class="statistics-page">
    <header class="statistics-header">
      <h1>Statistics Overview</h1>
      <p>Here’s a snapshot of the current statistics related to bike rides and ride-sharing.</p>
    </header>
   <!-- New Section for Additional Cards -->
   <div class="additional-cards">
    <div class="additional-card">
      <!-- Content for the first card goes here -->
      <h3>Card Title 1</h3>
      <p>Content for the first card.</p>
    </div>
    <div class="additional-card">
      <!-- Content for the second card goes here -->
      <h3>Card Title 2</h3>
      <p>Content for the second card.</p>
    </div>
  </div>

    <div class="statistics-cards" >
  
      <!-- Pie Chart Card -->
      <div class="statistics-card"> 
         <h3>Users Distribution </h3>
      <div id="pie">
      
        <apx-chart
        [series]="pieChartOptions.series"
        [chart]="pieChartOptions.chart"
        [legend]="pieChartOptions.legend"
        [responsive]="pieChartOptions.responsive"
        [colors]="pieChartOptions.colors"
        [title]="pieChartOptions.title"
      >
      </apx-chart>
      </div>
      
      </div>
  
      <!-- Bar Chart Card -->
      <div class="statistics-card">
        <h3>Monthly Rides</h3>
        <apx-chart [series]="barChartOptions.series"
                   [chart]="barChartOptions.chart"
                   [xaxis]="barChartOptions.xaxis"
                   [yaxis]="barChartOptions.yaxis"
                   [title]="barChartOptions.title"
                   [colors]="barChartOptions.colors"
                   [dataLabels]="barChartOptions.dataLabels"
                   [tooltip]="barChartOptions.tooltip">
        </apx-chart>
      </div>
  
    <!-- Line Chart Card -->
    <div class="statistics-card">
      <h3>Weekly Bike Rides</h3>
      <apx-chart [series]="lineChartOptions.series" [chart]="lineChartOptions.chart"
                 [xaxis]="lineChartOptions.xaxis" [yaxis]="lineChartOptions.yaxis"
                 [title]="lineChartOptions.title" [colors]="lineChartOptions.colors"
                 [dataLabels]="lineChartOptions.dataLabels" [tooltip]="lineChartOptions.tooltip">
      </apx-chart>
    </div>
  </div>
</div>