<div class="passengers-container">
    <div class="header">
      <h1>Passengers</h1>
      <hr />
      <div class="header-actions">
        <h3>Passengers List</h3>
        <div class="actions">
          <button class="export-btn" (click)="exportData()">
            <i class="fas fa-file-export"></i> Export
          </button>
          <div class="search-container">
            <input
              type="text"
              placeholder="Search by name"
              [(ngModel)]="searchTerm"
              (input)="searchPassengers()"
            />
            <i class="fas fa-search"></i>
          </div>
        </div>
      </div>
    </div>
  
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Birth Date</th>
          <th>Phone Number</th>
          <th>Gender</th>
          <th>City</th>
          <th>Membership</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let passenger of passengers">
          <td>{{ passenger.id }}</td>
          <td>{{ passenger.email }}</td>
          <td>{{ passenger.firstName }}</td>
          <td>{{ passenger.lastName }}</td>
          <td>{{ passenger.birthDate | date }}</td>
          <td>{{ passenger.phoneNumber }}</td>
          <td>{{ passenger.gender }}</td>
          <td>{{ passenger.city }}</td>
          <td>{{ passenger.membership || 'N/A' }}</td>
          <td>
            <button (click)="editPassenger(passenger)" class="action-btn edit-btn">
              <i class="fas fa-edit"></i>
            </button>
            <button (click)="deletePassenger(passenger.id)" class="action-btn delete-btn">
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <div class="pagination">
      <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
    </div>
  </div>
  

  <!-- Modal for editing a passenger -->
<div class="modal" *ngIf="showEditPassengerModal">
  <div class="modal-content">
    <span class="close" (click)="closeEditPassengerModal()">&times;</span>
    <h2>Edit Passenger</h2>
    <form (submit)="updatePassenger()">
      <label for="edit-email">Email:</label>
      <input id="edit-email" [(ngModel)]="selectedPassenger.email" name="email" required>
      <label for="edit-firstName">First Name:</label>
      <input id="edit-firstName" [(ngModel)]="selectedPassenger.firstName" name="firstName" required>
      <label for="edit-lastName">Last Name:</label>
      <input id="edit-lastName" [(ngModel)]="selectedPassenger.lastName" name="lastName" required>
      <label for="edit-birthDate">Birth Date:</label>
      <input id="edit-birthDate" [(ngModel)]="selectedPassenger.birthDate" name="birthDate" type="date" required>
      <label for="edit-phoneNumber">Phone Number:</label>
      <input id="edit-phoneNumber" [(ngModel)]="selectedPassenger.phoneNumber" name="phoneNumber" required>
      <label for="edit-city">City:</label>
      <input id="edit-city" [(ngModel)]="selectedPassenger.city" name="city" required>


      <button type="submit">Update Passenger</button>
    </form>
  </div>
</div>