<div class="bike-rides-container">
    <div class="header">
      <h1>Bike Rides</h1>
  
      <div class="header-actions">
        <h3>Bike Rides List</h3>
        <div class="actions">
          <button class="export-btn" (click)="exportData()">
            <i class="fas fa-file-export"></i> Export
          </button>
        </div>
      </div>
    </div>
  
    <table>
      <thead>
        <tr>
          <th>ID</th>    
          <th>Creator</th>
          <th>Date</th>
          <th>Start Time</th>
          <th>Start Location</th>
          <th>End Location</th>
          <th>Max Riders</th>
    
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ride of bikeRides">
          <td>{{ ride.id }}</td>
          <td>{{ ride.creatorName || 'Loading...' }}</td>
          <td>{{ ride.date | date }}</td>
          <td>{{ ride.startTime }}</td>
          <td>{{ ride.startLocation }}</td>
          <td>{{ ride.endLocation }}</td>
          <td>{{ ride.maxRiders }}</td>
          <td>
            <button (click)="openAddEditBikeRideModal(ride)" class="action-btn edit-btn">
              <i class="fas fa-edit"></i>
            </button>
            <button (click)="deleteBikeRide(ride.id)" class="action-btn delete-btn">
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <div class="pagination">
      <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
    </div>
  
    <!-- Modal for adding or editing a bike ride -->
    <div class="modal" *ngIf="showAddEditBikeRideModal">
      <div class="modal-content">
        <span class="close" (click)="closeAddEditBikeRideModal()">&times;</span>
        <h2>{{ selectedBikeRide?.id ? 'Edit Bike Ride' : 'Add New Bike Ride' }}</h2>
        <form (ngSubmit)="saveBikeRide()">
          <label for="startLocation">Start Location:</label>
          <input id="startLocation" [(ngModel)]="selectedBikeRide.startLocation" name="startLocation" required>
  
          <label for="endLocation">End Location:</label>
          <input id="endLocation" [(ngModel)]="selectedBikeRide.endLocation" name="endLocation" required>
  
          <label for="date">Date:</label>
          <input id="date" [(ngModel)]="selectedBikeRide.date" name="date" type="date" required>
  
          <label for="startTime">Start Time:</label>
          <input id="startTime" [(ngModel)]="selectedBikeRide.startTime" name="startTime" type="time" required>
  
          <label for="maxRiders">Max Riders:</label>
          <input id="maxRiders" [(ngModel)]="selectedBikeRide.maxRiders" name="maxRiders" type="number" required>
  
          <button type="submit">{{ selectedBikeRide?.id ? 'Update Ride' : 'Add Ride' }}</button>
        </form>
      </div>
    </div>
  </div>
  