.cars-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    display: flex;
    flex-direction: column;
  }
  
  h1 {
    font-size: 2rem;
    color: #3a5a40;
  }
  
  hr {
    border: 1px solid #ddd;
    margin-bottom: 20px;
  }
  
  .header-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .actions {
    display: flex;
    align-items: center;
  }
  
  .export-btn {
    background-color: #3a5a40;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 20px;
  }
  
  .export-btn i {
    margin-right: 5px;
  }
  
  .search-container {
    position: relative;
  }
  
  .search-container input {
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 0 10px;
    font-size: 1rem;
  }
  
  .search-container i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #3a5a40;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  thead {
    background-color: #3a5a40;
    color: #fff;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tbody tr:hover {
    background-color: #f5f5f5;
  }
  
  .action-btn {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .edit-btn {
    color: #4caf50; /* Green */
  }
  
  .delete-btn {
    color: #f44336; /* Red */
    margin-left: 10px;
  }
  
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .pagination button {
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #3a5a40;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .pagination button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
  