<app-navbar></app-navbar>

<div class="container">
    <div class="left-pane">
        <div class="filter-card">
            <h3>Filters</h3>
            <hr>
            <div class="filter-section">
                <label class="styled-checkbox">
                    <input type="checkbox" >
                    <span>In My Area</span>
                    <span class="checkbox-icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </span>
                </label>
                <hr>
                <label class="styled-checkbox">
                    <input type="checkbox" >
                    <span>Everywhere</span>
                    <span class="checkbox-icon">
                        <i class="fas fa-globe"></i>
                    </span>
                </label>
            </div>
        </div>
    </div>
    
    
    
    
    <div class="right-pane">
        <div *ngFor="let bikeRide of bikeRides" class="bike-ride-card">
            <div class="bike-ride-header">
                <div class="time">{{ bikeRide.startTime }} </div>
                <button class="book-now-button">Book my place now</button>
            </div>
            <div class="bike-ride-body">
                <div class="route">
                    <i class="fas fa-bicycle"></i> {{ bikeRide.startLocation }} &rarr; {{ bikeRide.endLocation }}
                </div>
                <div class="available-places">Available Places: {{ bikeRide.maxRiders - bikeRide.participants.length }}</div>
                <div class="date">{{ bikeRide.date | date:'fullDate' }}</div>
                <hr>
                <div class="creator-info">
                    <div class="creator-name">
                        <strong>Creator:</strong>
                    </div>
                    <div class="creator-gender">
                        <strong>Gender:</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
