<app-navbar></app-navbar>

<div class="container">
    <div class="left-pane">
        <div class="filter-card">
            <h3>Filters</h3>
            <hr>
            <div class="filter-section">
                <label class="styled-checkbox">
                    <input type="checkbox" >
                    <span>In My Area</span>
                    <span class="checkbox-icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </span>
                </label>
                <hr>
                <label class="styled-checkbox">
                    <input type="checkbox" >
                    <span>Everywhere</span>
                    <span class="checkbox-icon">
                        <i class="fas fa-globe"></i>
                    </span>
                </label>
            </div>
        </div>
    </div>
    
    
    
    
    <div class="right-pane">
        <div *ngFor="let bikeRide of bikeRides" class="bike-ride-card">
          <div class="bike-ride-header">
            <button class="book-now-button">Book my place now</button>
          </div>
          <div class="bike-ride-body">
            <div class="route">
              <i class="fas fa-bicycle"></i> {{ bikeRide.startLocation }} &rarr; {{ bikeRide.endLocation }}
            </div>
            <div class="available-places">Available Places: {{ bikeRide.maxRiders - bikeRide.participants.length }}</div>
            <div class="date-time">
              <span class="date">{{ bikeRide.date | date:'fullDate' }} at {{ bikeRide.startTime }}</span>
             
            </div>
            <hr>
            <div class="creator-info">
              <i class="fas fa-user"></i> {{ creatorDetails[bikeRide.creatorId]?.firstName }} {{ creatorDetails[bikeRide.creatorId]?.lastName }} 
              <span class="separator">|</span>
              <i class="fas fa-{{ creatorDetails[bikeRide.creatorId]?.gender === 'Male' ? 'mars' : 'venus' }}"></i> {{ creatorDetails[bikeRide.creatorId]?.gender }}
            </div>
          </div>
        </div>
      </div>
    </div>