<div class="car-rides-container">
    <div class="header">
      <h1>Car Rides</h1>

  
      <div class="header-actions">
        
        <h3>Car Rides List</h3>
        <div class="actions">
            <button class="export-btn" (click)="exportData()">
                <i class="fas fa-file-export"></i> Export
              </button>
        </div>
      </div>
    </div>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Driver</th>
          <th>Departure</th>
          <th>Destination</th>
          <th>Date</th>
          <th>Time</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ride of rides">
          <td>{{ ride.id }}</td>
          <td>{{ ride.driverName }}</td>
          <td>{{ ride.startLocation }}</td>
          <td>{{ ride.endLocation }}</td>
          <td>{{ ride.date | date }}</td>
          <td>{{ ride.startTime }}</td>
          <td>{{ ride.price | currency:'MAD':'symbol':'1.2-2' }}</td>
          <td>
            <button (click)="openAddEditRideModal(ride)" class="action-btn edit-btn">
              <i class="fas fa-edit"></i>
            </button>
            <button (click)="deleteRide(ride.id)" class="action-btn delete-btn">
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <div class="pagination">
      <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
    </div>
  
    <!-- Modal for adding or editing a ride -->
    <div class="modal" *ngIf="showAddEditRideModal">
      <div class="modal-content">
        <span class="close" (click)="closeAddEditRideModal()">&times;</span>
        <h2>{{ selectedRide?.id ? 'Edit Ride' : 'Add New Ride' }}</h2>
        <form (ngSubmit)="saveRide()">
          <label for="startLocation">Departure:</label>
          <input id="startLocation" [(ngModel)]="selectedRide.startLocation" name="startLocation" required>
          
          <label for="endLocation">Destination:</label>
          <input id="endLocation" [(ngModel)]="selectedRide.endLocation" name="endLocation" required>
  
          <label for="date">Date:</label>
          <input id="date" [(ngModel)]="selectedRide.date" name="date" type="date" required>
  
          <label for="startTime">Time:</label>
          <input id="startTime" [(ngModel)]="selectedRide.startTime" name="startTime" type="startTime" required>
  
          <label for="price">Price:</label>
          <input id="price" [(ngModel)]="selectedRide.price" name="price" type="number" required>
  
          <button type="submit">{{ selectedRide?.id ? 'Update Ride' : 'Add Ride' }}</button>
        </form>
      </div>
    </div>
  </div>
  