<div class="page-container">
  <!-- Left Pane: Sidebar -->
  <div class="admin-sidebar">
    <div class="sidebar-header">
      <img src="logo.png" alt="App Logo" class="app-logo">    </div>
    <ul class="nav-list">
      <li class="nav-item" [routerLink]="['/passenger/profile']" routerLinkActive="active">
        <i class="fas fa-user"></i><span>Profile</span>
      </li>
      <li class="nav-item" [routerLink]="['/passenger/rides-history']" routerLinkActive="active">
        <i class="fas fa-car"></i><span>Rides History</span>
      </li>
      <li class="nav-item" [routerLink]="['/passenger/bikerides']" routerLinkActive="active">
        <i class="fas fa-bicycle"></i><span>Bike rides</span>
      </li>
    
    </ul>
    <div class="sidebar-footer">
      <li class="nav-item" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i><span>Logout</span>
      </li>
  
  
    </div>
  </div>

  <div class="admin-content">
    <router-outlet></router-outlet> 
 
  </div>

<div>
  <button  (click)="openBikeRideModal()" class="bike-ride-button">
    <i class="fas fa-bicycle"></i>
    Organize Bike Ride
  </button>
  
      </div>
</div>
   