.advantages {
  display: flex;
  justify-content: center; /* Center the cards */
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  gap: 20px; /* Adjust gap between cards */
}

.advantage-card {
  background-color: rgba(255, 255, 255, 0.273);
  display: flex;
  align-items: flex-start; /* Align text and icon at the top */
  width: 450px; /* Adjusted width */
  height: 80px; /* Adjusted height to accommodate title and description */
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 10px;
  margin-top: 70px;
}

.advantage-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.icon-container {
  background-color: #ada083; /* Updated color for the icon container */
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  margin-right: 10px; /* Space between icon and text */
}

.icon-container:hover {
  background-color: #ada083;
}

.icon-container i {
  font-size: 30px;
  color: white;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align text at the top */
}

.title {
  font-size: 1.2em;
  color: #344e41;
  font-weight: bold;
  margin: 0;
  text-align: left;
  margin-bottom: 5px; /* Space between title and description */
}

.description {
  font-size: 0.85em; /* Smaller font for the description */
  color: #6c757d; /* Lighter text color for description */
  text-align: left;
  margin: 0;
}
