<div class="signin-background">
  <div class="green-shapes"></div>
  <div class="signin-container">
    <div class="signin-left">
      <div class="signin-header">
        <h2>WELCOME TO</h2>
        <h1>GREENWAY</h1>
        <p>Find your perfect ride in just a few clicks.</p>
      </div>
      <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <i class="fas fa-envelope icon"></i>
          <input type="email" formControlName="email" placeholder="Email" required>
        </div>
        <div class="input-group">
          <i class="fas fa-lock icon"></i>
          <input [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="Password" required>
          <i class="fas fa-eye eye-icon" (click)="togglePasswordVisibility()"></i>
        </div>
        <button type="submit" class="signin-btn">Sign In</button>
        <p class="register-link">Don't have an account? <a href="/signupdriver">Join as a Driver</a> or <a href="/signup">Join as a Passenger</a></p>
      </form>
    </div>
    <div class="signin-right">
      <div class="signin-overlay">
        <h1>FIND YOUR RIDE</h1>
        <p>Discover your ideal ride from our extensive options.</p>
      </div>
    </div>
  </div>
</div>
