.notification-container {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 1200px; /* Max width to prevent it from being too wide */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    margin: 20px auto; /* Center the container horizontally */
  }
  
  .notification-container h1 {
    margin-top: 0;
    color: #3a5a40; /* Medium green for heading */
    font-size: 1.5em;
  }
  
  .notification-container h3 {
    color: #344e41; /* Darker green for subheading */
    margin: 10px 0;
    font-size: 1.2em;
  }
  
  .section-divider {
    border: none;
 
        border: 1px solid #ddd;
        margin-bottom: 20px;
      
    margin: 10px 0;

  }
  
  .notification-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .notification-list li {
    display: flex;
    align-items: flex-start;
    padding: 15px;
    margin-bottom: 20px; /* Margin between notification cards */
    cursor: pointer;
    border-radius: 8px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    width: 70%; /* Set width to 70% of the container */
    margin: 10px auto; /* Center each notification card */
    margin-left: -1px;
  }
  
  .notification-list li:hover {
    background-color: #e0f2f1; /* Light green for hover effect */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
  
  .notification-list li.read {
    background-color: #f0f0f0;
  }
  
  .notification-icon {
    margin-right: 15px;
    color: #3a5a40; /* Medium green for icons */
    font-size: 1.5em;
  }
  
  .notification-content {
    flex: 1;
  }
  
  .notification-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .notification-message {
    font-size: 1em;
    margin: 0;
    font-weight: bold;
  }
  
  .notification-details {
    font-size: 0.9em;
    color: #555;
  }
  
  .notification-details small {
    display: block;
    margin-top: 5px;
  }
  
  .notification-details i {
    margin-right: 8px;
    color: #3a5a40; /* Medium green for icons */
  }
  
  .notification-timestamp {
    display: block;
    font-size: 0.8em;
    color: #888;
  }
